// Light Mode

$blue-highlight: hsl(193, 81%, 41%);
$body-bg: hsl(0, 0%, 96%);
$grey-bg: hsl(0, 0%, 24%);
$grey-highlight: hsl(0, 0%, 75%);
$full-black: hsl(0, 0%, 0%);
$full-red: hsl(0, 100%, 50%);
$full-brown: hsl(0, 51%, 33%);
$full-orange: hsl(39, 100%, 50%);
$full-yellow: hsl(60, 100%, 50%);
$full-green: hsl(120, 100%, 25%);
$full-darkgreen: hsl(120, 100%, 13%);
$full-limegreen: hsl(120, 61%, 50%);
$full-white: hsl(250, 100%, 100%);
$datablock-bg: hsla(0, 0%, 100%, 0.2);
$datablock-border: hsla(0, 0%, 0%, 0.3);
$transparent: hsla(0, 0%, 0%, 0);
$light-white: hsl(0, 0%, 93%);
$creamy-white: hsl(0, 0%, 80%);
$pale-white: hsl(0, 0%, 73%);
$mostly-transparent: hsla(0, 0%, 0%, 0.2);
$decor-banner-green: hsl(149, 29%, 56%);
$nav-text-shadow: hsl(0, 0%, 5%);
$egg-white: hsl(0, 0%, 80%);
$tabs-grey-shadow: hsl(0, 0%, 58%);
$jbox-shadow: hsla(0, 0%, 0%, 0.25);
$mapbackground: hsl(0, 0%, 60%);
$text-color: hsl(210, 11%, 15%);
$pre: hsl(0, 0%, 96%);
$pre-border: hsl(0, 0%, 80%);
$pre-color: hsl(0, 0%, 20%);
$stat-border: hsl(0, 0%, 85%);

// Dark Mode

$body-bg-dark: hsl(0, 0%, 15%);
$pre-dark: hsl(0, 0%, 24%);
$pre-border-dark: hsl(0, 0%, 12%);
