// Catppuccin Mocha Palette (Dark Theme)
$catppuccin-mocha-base: #1e1e2e;
$catppuccin-mocha-mantle: #181825;
$catppuccin-mocha-crust: #11111b;
$catppuccin-mocha-text: #cdd6f4;
$catppuccin-mocha-subtext1: #bac2de;
$catppuccin-mocha-subtext0: #a6adc8;
$catppuccin-mocha-overlay2: #9399b2;
$catppuccin-mocha-overlay1: #7f849c;
$catppuccin-mocha-overlay0: #6c7086;
$catppuccin-mocha-surface2: #585b70;
$catppuccin-mocha-surface1: #45475a;
$catppuccin-mocha-surface0: #313244;

// Catppuccin Latte Palette (Light Theme)
$catppuccin-latte-base: #eff1f5;
$catppuccin-latte-mantle: #e6e9ef;
$catppuccin-latte-crust: #dce0e8;
$catppuccin-latte-text: #4c4f69;
$catppuccin-latte-subtext1: #5c5f77;
$catppuccin-latte-subtext0: #6c6f85;
$catppuccin-latte-overlay2: #7c7f93;
$catppuccin-latte-overlay1: #8c8fa1;
$catppuccin-latte-overlay0: #9ca0b0;
$catppuccin-latte-surface2: #acb0be;
$catppuccin-latte-surface1: #bcc0cc;
$catppuccin-latte-surface0: #ccd0da;

// Catppuccin Shared Colors (same across themes)
$catppuccin-black: #000000;
$catppuccin-blue: #89b4fa;
$catppuccin-flamingo: #f2cdcd;
$catppuccin-green: #a6e3a1;
$catppuccin-lavender: #b4befe;
$catppuccin-maroon: #eba0ac;
$catppuccin-mauve: #cba6f7;
$catppuccin-peach: #fab387;
$catppuccin-pink: #f5c2e7;
$catppuccin-red: #f38ba8;
$catppuccin-rosewater: #f5e0dc;
$catppuccin-sapphire: #74c7ec;
$catppuccin-sky: #89dceb;
$catppuccin-teal: #94e2d5;
$catppuccin-yellow: #f9e2af;

// Backwards compatibility aliases (Mocha)
$catppuccin-base: $catppuccin-mocha-base;
$catppuccin-crust: $catppuccin-mocha-crust;
$catppuccin-mantle: $catppuccin-mocha-mantle;
$catppuccin-overlay0: $catppuccin-mocha-overlay0;
$catppuccin-overlay1: $catppuccin-mocha-overlay1;
$catppuccin-overlay2: $catppuccin-mocha-overlay2;
$catppuccin-subtext0: $catppuccin-mocha-subtext0;
$catppuccin-subtext1: $catppuccin-mocha-subtext1;
$catppuccin-surface0: $catppuccin-mocha-surface0;
$catppuccin-surface1: $catppuccin-mocha-surface1;
$catppuccin-surface2: $catppuccin-mocha-surface2;
$catppuccin-text: $catppuccin-mocha-text;

// Shared/Common Colors
$blue-highlight: $catppuccin-sapphire;
$full-red: $catppuccin-red;
$full-brown: $catppuccin-maroon;
$full-orange: $catppuccin-peach;
$full-yellow: $catppuccin-yellow;
$full-green: $catppuccin-green;
$full-darkgreen: $catppuccin-teal;
$full-limegreen: $catppuccin-green;
$decor-banner-green: $catppuccin-teal;
$transparent: transparent;

// Light Mode Colors (Catppuccin Latte)
$body-bg: $catppuccin-latte-base;
$text-color: $catppuccin-latte-text;
$pre: $catppuccin-latte-mantle;
$pre-border: $catppuccin-latte-surface0;
$pre-color: $catppuccin-latte-subtext1;
$grey-bg: $catppuccin-mocha-surface0;
$grey-highlight: $catppuccin-latte-overlay2;
$full-black: $catppuccin-latte-crust;
$full-white: $catppuccin-latte-base;
$datablock-bg: rgba($catppuccin-latte-surface1, 0.9);
$datablock-border: $catppuccin-latte-overlay0;
$light-white: $catppuccin-latte-base;
$creamy-white: $catppuccin-latte-mantle;
$pale-white: $catppuccin-latte-surface0;
$mostly-transparent: rgba($catppuccin-latte-crust, 0.2);
$nav-text-shadow: $catppuccin-mocha-crust;
$egg-white: $catppuccin-latte-mantle;
$tabs-grey-shadow: $catppuccin-latte-overlay1;
$jbox-shadow: rgba($catppuccin-latte-crust, 0.25);
$mapbackground: $catppuccin-latte-surface1;
$stat-border: $catppuccin-latte-surface2;

// Dark Mode Colors (Catppuccin Mocha)
$body-bg-dark: $catppuccin-mocha-base;
$pre-dark: $catppuccin-mocha-surface0;
$pre-border-dark: $catppuccin-mocha-mantle;
$grey-bg-dark: $catppuccin-mocha-surface0;
$full-white-dark: $catppuccin-mocha-text;
$creamy-white: $catppuccin-mocha-subtext1;
$pale-white-dark: $catppuccin-mocha-subtext0;
