table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: white;
}

thead {
  border: 1px solid black;
}

th {
  padding-left: 5px;
}

table.search {
  border: 1px solid black;
  border-collapse: collapse;
  width: 95%;
  table-layout: fixed;
  background-color: transparent;
  margin-right: 0px;
  vertical-align: middle;
}

table.message {
  border: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: white;
  vertical-align: top;
}

.text_top {
  vertical-align: top;
}

.align_right {
  float: right;
}

img {
  max-width: 100%;
}

.small_img {
  height: 14px;
  vertical-align: middle;
  padding-bottom: 3px;
}

.red {
  color: red;
}

.red:hover {
  color: white;
}

.sidebar_link {
  color: #1496bb;
}

.sidebar_link:hover {
  color: white;
}

ol {
  list-style-type:circle;
  margin-left:0px;
  padding-left: 1em;
  margin-left: 1em;
}

ol>li {
  width: 100%;
  margin-left:0px;
  padding-left: 0px;
}

td {
  padding: 7px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: .1em solid #3D3D3D;
  color: #f6f6f6;
}
body {
  background-color: #f6f6f6;
  padding-left: 15px;
  float: left;
  width: 100%;
  height: 100%;
}
.container {
  margin: 30px auto;
  width: 100%;
  position: relative;
  width: 100%;
}

div#content.container {
  padding-left: 20px;
  width: 100%;
}

div#right.row {
  position: fixed;
  right: 0px;
  top: 60px;
  height: calc(100% - 20px);
  width: 280px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  background: black;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #333333 7%, #2B2B2B 100%);
  background-image: -moz-linear-gradient(bottom, #333333 7%, #2B2B2B 100%);
  background-image: -o-linear-gradient(bottom, #333333 7%, #2B2B2B 100%);
  background-image: linear-gradient(bottom, #333333 7%, #2B2B2B 100%);
  z-index: 13;
  box-shadow: -4px -1px 2px -1px #888;
}

div#num_results.row {
  position: absolute;
  right: 0px;
  width: 100%;
  height: inherit;
  padding-right: 5px;
  padding-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

div#log.left {
  position: : absolute;
  margin-right: 300px;
  left: 0;
  padding-right: 0px;
  padding-left: 0px;
}

#size {
  color: #1496bb;
}

#database {
  color: #1496bb;
}

#log {
  margin-right: 5px;
}

.search_label {
  width: 30%;
  vertical-align: middle;
  color: #1496bb;
}

.search_term {
  width: 70%;
  padding-left: 15px;
  padding-right: 20px;
}

.fixed_results {
  position: fixed;
  top: 60px;
  bottom: 30px;
  padding-top: 0px;
  margin-bottom: 10px;
  width: 280px;
  margin-right: 5px;
  margin-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  overflow-y:auto;
  overflow-x:hidden;
}

.fixed_menu {
  position: fixed;
  top: 170px;
  bottom: 30px;
  padding-top: 0px;
  margin-bottom: 10px;
  width: 280px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-right: 5px;
  padding-top: 0px;
  overflow-y:auto;
  overflow-x:hidden;
}

.fixed_menu_short {
  position: fixed;
  top: 150px;
  bottom: 30px;
  padding-top: 0px;
  margin-bottom: 10px;
  width: 280px;
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-right: 5px;
  padding-top: 0px;
  overflow-y:auto;
  overflow-x:hidden;
}

.spread_text {
  letter-spacing: 1px;
  padding-left: 4px;
}

a.spread_text:hover {
  color: #FFF;
}

select {
  min-width: 100%;
}

input {
  min-width: 100%;
  width: 30px;
  color: black;
}

label {
  padding-top: 5px;
}

.menu_non_link {
  color: #1496bb;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: left;
  border: 1px solid black;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  z-index: 20;
}
#shadow {
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}      
.wrapper {
  text-transform: uppercase;
  cursor: help;
  margin: 0 auto;
  position: relative;
  -webkit-transform: translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing: antialiased; /* webkit text rendering fix */
}

.wrapper .tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  left: 0;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  width: 140px;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  transform: translateX(-50%);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 0;
}

/* This bridges the gap so you can mouse into the tooltip without it disappearing */
.wrapper .tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  transform: translateX(-50%);
}

/* CSS Triangles - see Trevor's post */
.wrapper .tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
  transform: translateX(100%);
}

.wrapper:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  transform: translateX(-50%);
}

/* IE can just show/hide with no transition */
.lte8 .wrapper .tooltip {
  display: none;
}
.lte8 .wrapper:hover .tooltip {
  display: block;
}

a {
  color: #1496bb;
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: #1496bb;
  text-decoration: none;
}

a:visited {
  color: #1496bb;
  text-decoration: none;
}

.wrap {
  display: inline-block;
  -webkit-box-shadow: 0 0 70px #fff;
  -moz-box-shadow: 0 0 70px #fff;
  box-shadow: 0 0 70px #fff;
  margin-top: 40px;
}

/* a little "umph" */
.decor {
  background: #6EAF8D;
  background: -webkit-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -moz-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: -o-linear-gradient(left, #CDEBDB 50%, #6EAF8D 50%);
  background: linear-gradient(left, white 50%, #6EAF8D 50%);
  background-size: 50px 25%;;
  padding: 2px;
  display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

.right_side {
  float: right;
}

li {
  float: left;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #2B2B2B;
  background-image: -webkit-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px #0E0E0E;
  -webkit-box-shadow: 2px 2px 3px #888;
  -moz-box-shadow: 2px 2px 3px #888;
  box-shadow: 4px 2px 3px #888;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 10;
}

.nav_text {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #3D3D3D;
  color: #1496bb;
  text-transform: uppercase;
}
/* prime */
ul.primary li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #3D3D3D;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: #000;
  transition: all 0.25s ease-in; 
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 #BEBEBE;
  width: 35%;
  display:none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted #ccc;
  border-right: none;
  color: #000;
  padding: 15px 30px;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: #000;
  background: #eeeeee;
}

/* sub display*/
ul.primary li:hover ul {
  display: block;
  background: #fff;
}

/* keeps the tab background white */
ul.primary li:hover a {
  background: #fff;
  color: #666;
  text-shadow: none;
}

ul.primary li:hover > a{
  color: #000;
} 

@media only screen and (max-width: 600px) {
  .decor {
    padding: 3px;
  }
  
  .wrap {
    width: 100%;
    margin-top: 0px;
  }
  
   li {
    float: none;
  }
  
  ul.primary li:hover a {
    background: none;
    color: #8B8B8B;
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: #fff;
  }
  
  ul.sub {
    display: block;  
    position: static;
    box-shadow: none;
    width: 100%;
  }
  
  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  }
  
  ul.sub li a:hover {
    color: #ccc;
    background: none;
  }
}

/* Collapse */

input[type='checkbox'] {
  display: none;
}

.wrap-collabsible {
  padding-top: 10px;
}

.lbl-toggle {
  display: block;
  text-transform: uppercase;
  text-align: left;
  color: #1496bb; 
  background: transparent; 
  cursor: pointer; 
  transition: all 0.25s ease-out;
  font-weight: normal;
}

.lbl-toggle:hover {
  color: #FFF;
}

.lbl-toggle::before {
  content: ' '; 
  display: inline-block; 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: scroll;
  position: fixed;
  height: calc(100% - 250px);
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle:checked+.lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: transparent;
  color: #1496bb;
  padding-right: 10px;
  padding-left: 10px;
  overflow: scroll;
}

.collapsible-content p { 
  margin-bottom: 30px; 
}

/* message tabs */

.tabinator {
  background: transparent;
}
.tabinator input {
  display: none;
}
.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding: 15px 25px;
  color: #ccc;
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid #bbb;
  border-radius: 10px 10px 0 0;
}
.tabinator label:before {
  content:'';
  display:block;
  width:100%;
  height:15px;
  background-color: transparent;
  position:absolute;
  bottom:0px;
  left:0;
  z-index:10;
  border-radius: 10px 10px 0 0;
}
.tabinator label:hover {
  color: #888;
  cursor: pointer;
}
.tabinator input:checked + label {
  position: relative;
  color: #000;
  background: transparent;
  border: 1px solid #bbb;
  border-bottom: 1px solid #fff;
  border-radius: 10px 10px 0 0;
}
.tabinator input:checked + label:after {
  display: block;
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  box-shadow: 0 0 15px #939393;
  border-radius: 10px 10px 0 0;
}
[id^="message"] {
  display: none;
  border-top: 1px solid #bbb;
}

.checked {
  display: block;
  box-shadow: 0 0 15px #939393;
}
