<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=“Pragma” content=”no-cache”>
    <meta http-equiv=“Expires” content=”-1″>
    <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/menu.js"></script>
    <script src="static/js/about.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>ACARS Stats</title>
  </head>
  <body>
    <div class="container" id="header">
      <div class="row" id="links">
      </div>
    </div>
    <div class="container" id="content">
    <div class="row" id="right">
      <div class="fixed_results">
        <span id="stat_menu"></span>
      </div>
    </div>
      <div class="left" id="log">
        <p><h3>ACARS Hub About/Help</h3></p>
        <p>ACARS Hub is a collabrative, open source effort to easily enable reception of, and viewing, VDLM2/ACARS messages</p>
        There are three main 'pages' 
      </div>
    </div>
    <div class="footer">
      <strong><a href="/about">ACARS Hub Help/About</a> | <a href="https://github.com/fredclausen/docker-acarshub" target="_blank">Project Github</a> | <a href="https://discord.gg/sTf9uYF"><img src="https://img.shields.io/discord/734090820684349521" alt="discord"></a> |</strong>
    </div>
  </body>
</html>
