<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv=“Pragma” content=”no-cache”>
    <meta http-equiv=“Expires” content=”-1″>
    <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>ACARS Hub</title>
  </head>
  <body>
    <div class="container" id="header">
      <div class="row">
          <h1>ACARS Hub</h1>
      </div>
    </div>
    <div class="container" id="links">
      <div class="row">
          | <a href="/">Live Messages</a> | <a href="/stats">ACARS Hub Stats</a> | <a href="/search">Search Database</a> | <a href="https://github.com/fredclausen/docker-acarshub" target="_blank">Project Github</a> | <a href="https://discord.gg/sTf9uYF"><img src="https://img.shields.io/discord/734090820684349521" alt="discord"></a> |
      </div>
    </div>
    <hr>
    <div class="container" id="content">
      <div class="row">
          <p><h3>Messages will appear here, newest first:</h3></p>
          <br>
          <a href="javascript:pause_updates()" id="pause_updates">Pause updates</a>
          <br>
          <a href="javascript:filter_notext()" id="filter_notext">Filter out "No Text" messages</a>
          <br>
          Received messages: <span id="receivedmessages">0</span> | Filtered messages: <span id="filteredmessages">0</span>
          <div id="log">
          </div> <!-- /#log -->
      </div>
    </div>
  </body>
</html>
