<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=“Pragma” content=”no-cache”>
    <meta http-equiv=“Expires” content=”-1″>
    <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <link rel="apple-touch-icon" sizes="180x180" href="static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/favicon-16x16.png">
    <link rel="manifest" href="static/images/site.webmanifest">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script src="static/js/html_generator.js"></script>
    <script src="static/js/menu.js"></script>
    <script src="static/js/alerts.js"></script>
    <script src="../static/js/search.js"  type="module"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>ACARS Database Search</title>
  </head>
  <body>
    <div class="container" id="header">
      <div class="row" id="links">
      </div>
    </div>
    <div class="container" id="content">
      <p><h3>Search received messages</h3>
        <div class="row" id="right">
          <div class="fixed_results">
            <a href="javascript:showall()" class="spread_text">Most Recent Messages</a><p>             
            <table class="search">
              <tr>
                <td class="search_label">
                  <label>Database Rows:</label>
                </td>
                <td class="search_term">
                  <span id="database"></span>
                </td>
              </tr>
              <tr>
                <td class="search_label">
                  <label>Database Size:</label>
                </td>
                <td class="search_term">
                  <span id="size"></span>
                </td>
              </tr>
              <tr>
                <td class="search_label">
                  <label>Field:</label>
                </td>
                <td class="search_term">
                  <select name="dbfield" id="dbfield" onchange="javascript:runclick(0)">
                    <option value="flight-iata">Callsign (IATA)</option>
                    <option value="depa">Departure</option>
                    <option value="dsta">Destination</option>
                    <option value="freq">Frequency</option>
                    <option value="msgno">Message Number</option>
                    <option value="tail">Tail Number</option>
                    <option value="text">Text</option>
                  </select>
                </td>
              </tr>
              <tr class="search_label">
                <td>
                  <label>Search Term:</label>
                </td>
                <td class="search_term">
                  <input type="text" id="search_term">
                </td>
              </tr>
            </table>
            <div class="row" id="num_results"></div>
          </div> <!-- /fixed results -->
        </div> <!-- /right -->
        <div class="left" id="log">
        </div> <!-- /#log -->
    </div>
    <div class="footer" id="footer_div">
    </div>
  </body>
</html>
