<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv=“Pragma” content=”no-cache”>
    <meta http-equiv=“Expires” content=”-1″>
    <meta http-equiv=“CACHE-CONTROL” content=”NO-CACHE”>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/menu.js"></script>
    <script src="../static/js/stats.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/site.css">
    <title>ACARS Stats</title>
  </head>
  <body>
    <div class="container" id="header">
      <div class="row" id="links">
      </div>
    </div>
    <div class="container" id="content">
      <div class="row">
        <p></p>
          <img src="static/images/1hour.png" id="1hr" alt="1 Hour"><br>
          <img src="static/images/6hour.png" id="6hr" alt="6 Hours"><br>
          <img src="static/images/12hour.png" id="12hr" alt="12 Hours"><br>
          <img src="static/images/24hours.png" id="24hr" alt="24 Hours"><br>
          <img src="static/images/1week.png" id="1wk" alt="1 Week"><br>
          <img src="static/images/30days.png" id="30day" alt="30 Days"><br>
          <img src="static/images/6months.png" id="6mon" alt="6 Months"><br>
          <img src="static/images/1year.png" id="1yr" alt="1 Year"><br>
      </div>
    </div>
    <div class="footer">
      <a href="https://github.com/fredclausen/docker-acarshub" target="_blank">Project Github</a> | <a href="https://discord.gg/sTf9uYF"><img src="https://img.shields.io/discord/734090820684349521" alt="discord"></a> |
    </div>
  </body>
</html>
