@use "modules/colors" as colors;

// Responsive visibility helpers
.show_when_big {
  display: inline-block;

  @media only screen and (max-width: 969px) {
    display: none;
  }
}

.show_when_small {
  display: none;

  @media only screen and (max-width: 969px) {
    display: block;
    padding-left: 5px;
    border-bottom: 1px solid colors.$grey-bg;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  label > & {
    @media only screen and (max-width: 969px) {
      display: inline-block;
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.hide_when_small {
  display: inline-block;

  @media only screen and (max-width: 969px) {
    display: none;
  }

  .wrap > & {
    display: block;

    @media only screen and (max-width: 969px) {
      display: none;
    }
  }
}

.dont_show {
  @media only screen and (max-width: 969px) {
    display: none;
  }
}

// Logo and branding responsive behavior
#logo_image {
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

#release_version {
  @media screen and (max-width: 1070px) {
    display: none;
  }
}

#discord_badge {
  @media screen and (max-width: 1150px) {
    display: none;
  }
}

#update_notice {
  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

#acarshub_help {
  @media only screen and (max-width: 700px) {
    display: none;
  }
}

// Message body responsive behavior
#msg_body {
  @media only screen and (max-width: 969px) {
    column-span: all;
  }
}
