@use "modules/colors" as colors;
@use "modules/fonts" as fonts;
@use "modules/theme";

// Flexbox utilities
.flex-container {
  display: flex;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-gap-2 {
  display: flex;
  gap: 2px;
}

.flex-height-100 {
  display: flex;
  height: 100%;
  overflow: hidden;
  gap: 5px;
}

// Display utilities
.display-inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

// Width utilities
.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

// Spacing utilities
.padding-top-10 {
  padding-top: 10px;
}

// Text alignment
.text-top {
  vertical-align: top;
}

.vertical-text-top {
  vertical-align: text-top;
}

.align-right {
  float: right;
}

// Color utilities
.text-red {
  color: var(--color-red);
}

.red,
.red_body {
  color: var(--color-red);

  @media not all and (pointer: coarse) {
    &:hover {
      color: var(--hover-text);
    }
  }
}

span.red_important strong {
  color: var(--color-red) !important;
}

.orange {
  color: var(--color-orange);
}

.green {
  color: var(--color-green);
}

.white {
  color: var(--color-white);
}

// Background utilities
.bg-table {
  background: var(--message-bg);
}

// Shadow utilities
.shadow {
  box-shadow: 2px 2px 2px 1px var(--shadow-mostly-transparent);
}

// Font utilities
.monofont {
  font-family: fonts.$mono-fonts;
}

.show_strong {
  font-weight: bold;
  font-family: fonts.$mono-fonts;
}

// Miscellaneous utilities
.small_img {
  height: 14px;
  vertical-align: middle;
  padding-bottom: 3px;
}

.boxed {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  width: 45px;
  text-align: center;
  margin-bottom: -1px;
  background-color: var(--message-bg);
  border: 1px solid var(--border-black);
  border: 1px solid var(--grey-highlight);
  font-weight: bold;
  color: var(--body-text);
}

.boxed_right_arrow {
  margin-left: -1px;
}

.spread_text {
  letter-spacing: 1px;
  padding-left: 4px;

  @media not all and (pointer: coarse) {
    &:hover {
      color: var(--color-black);
    }
  }
}

.menu_non_link {
  color: var(--color-blue);
  text-transform: uppercase;
}

.sidebar_link {
  color: var(--color-blue);

  @media not all and (pointer: coarse) {
    &:hover {
      color: var(--color-white);
    }
  }
}

.noleft {
  border-left: 0 solid transparent !important;
}
