.leaflet-radar {
  /* from leaflet-control-layers */
  border-radius: 5px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;

  padding: 5px;
  height: 67.5px;
}

.leaflet-radar .leaflet-radar-timestamp {
  text-align: center;
}

.leaflet-radar-toggle {
  display: flex;
  align-items: left;
}

.leaflet-radar-toggle input {
  display: inherit !important;
  min-width: 10px;
  width: 18px;
}

.leaflet-radar-toggle span {
  box-sizing: none;
}
