:root {
  --site-fonts: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --mono-fonts: Menlo, Monaco, Consolas, 'Courier New', monospace;
  --blue-highlight: hsl(193, 81%, 41%);
  --body-bg: hsl(0, 0%, 96%);
  --grey-bg: hsl(0, 0%, 24%);
  --grey-highlight: hsl(0, 0%, 75%);
  --full-black: hsl(0, 0%, 0%);
  --full-red: hsl(0, 100%, 50%);
  --full-orange: hsl(39, 100%, 50%);
  --full-yellow: hsl(60, 100%, 50%);
  --full-green: hsl(120, 100%, 25%);
  --full-darkgreen: hsl(120, 100%, 13%);
  --full-limegreen: hsl(120, 61%, 50%);
  --full-white: hsl(250, 100%, 100%);
  --datablock-bg: hsla(0, 0%, 100%, 0.2);
  --datablock-border: hsla(0, 0%, 0%, 0.3);
  --transparent: hsla(0, 0%, 0%, 0);
  --light-wight: hsl(0, 0%, 93%);
  --creamy-white: hsl(0, 0%, 80%);
  --pale-white: hsl(0, 0%, 73%);
  --mostly-transparent: hsla(0, 0%, 0%, 0.2);
  --decor-banner-green: hsl(149, 29%, 56%);
  --nav-text-shadow: hsl(0, 0%, 5%);
  --egg-white: hsl(0, 0%, 80%);
  --tabs-grey-shadow: hsl(0, 0%, 58%);
  --jbox-shadow: hsla(0, 0%, 0%, 0.25);
}

table {
  border: 1px solid var(--full-black);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: var(--full-white);
}

thead {
  border: 1px solid var(--full-black);
}

th {
  padding-left: 5px;
}

table.search {
  border: 1px solid var(--full-black);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: transparent;
  vertical-align: middle;
}

table.message {
  border: none;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  background-color: var(--full-white);
  vertical-align: top;
}

.text_top {
  vertical-align: top;
}

.align_right {
  float: right;
}

textarea {
  width: 95%;
}

img {
  max-width: 100%;
}

.boxed {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  width: 45px;
  text-align: center;
  color: var(--creamy-white);
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid var(--pale-white);
}

.small_img {
  height: 14px;
  vertical-align: middle;
  padding-bottom: 3px;
}

.monofont {
  font-family: var(--mono-fonts);
}

.red,
.red_body {
  color: var(--full-red);
}

span.red_important strong {
  color: var(--full-red) !important;
}

.orange {
  color: var(--full-orange);
}

.green {
  color: var(--full-limegreen);
}

.red:hover {
  color: var(--full-white);
}

.footer strong {
  color: var(--blue-highlight);
}

.sidebar_link {
  color: var(--blue-highlight);
}

.sidebar_link:hover {
  color: var(--full-white);
}

ol {
  list-style-type: circle;
  margin-left: 0;
  padding-left: 1em;
  margin-left: 1em;
}

ol > li {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

td {
  padding: 7px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-top: 0.1em solid var(--grey-bg);
  color: var(--body-bg);
}

body {
  background-color: var(--body-bg);
  padding-left: 20px;
  padding-right: 20px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--site-fonts);
}

.container {
  margin: 30px auto;
  width: 100%;
  position: relative;
  width: 100%;
  margin-top: 0;
}

div#content.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin-bottom: 40px;
}

div#main_block.row {
  margin-left: 0;
  padding-top: 5px;
}

div#header {
  margin: 0;
}

div#links.row {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

div#num_results.row {
  position: relative;
  width: 100%;
  height: inherit;
  padding-right: 5px;
  padding-top: 10px;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

div#log.left {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0;
  padding-left: 0;
}

#size {
  color: var(--blue-highlight);
}

#database {
  color: var(--blue-highlight);
}

#log {
  margin-right: 5px;
}

.search_label {
  width: 30%;
  vertical-align: middle;
  color: var(--blue-highlight);
}

.search_term {
  width: 70%;
  padding-left: 15px;
  padding-right: 20px;
}

.fixed_results {
  position: fixed;
  top: 60px;
  bottom: 30px;
  padding-top: 0;
  margin-bottom: 10px;
  width: 280px;
  margin-right: 5px;
  margin-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed_menu {
  position: fixed;
  top: 170px;
  bottom: 30px;
  padding-top: 0;
  margin-bottom: 10px;
  width: 280px;
  margin-top: 0;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-right: 5px;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.fixed_menu_short {
  position: fixed;
  top: 150px;
  bottom: 30px;
  padding-top: 0;
  margin-bottom: 10px;
  width: 280px;
  margin-top: 0;
  margin-right: 5px;
  margin-left: 10px;
  margin-bottom: 30px;
  padding-right: 5px;
  padding-top: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.spread_text {
  letter-spacing: 1px;
  padding-left: 4px;
}

a.spread_text:hover {
  color: var(--full-black);
}

select {
  min-width: 100%;
}

input {
  min-width: 100%;
  width: 30px;
  color: var(--full-black);
}

label {
  padding-top: 5px;
}

.menu_non_link {
  color: var(--blue-highlight);
  text-transform: uppercase;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--grey-bg);
  text-align: left;
  border: 1px solid var(--full-black);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  z-index: 20;
  font-weight: bold;
}

.footer a:hover {
  color: var(--full-white);
  transition: all 0.25s ease-out;
}

.footer div {
  display: inline-block;
  border-right: 1px solid var(--grey-highlight);
  padding-right: 5px;
}

.shadow {
  box-shadow: 2px 2px 2px 1px var(--mostly-transparent);
}

pre {
  box-shadow: 2px 2px 2px 1px var(--mostly-transparent);
}

a {
  color: var(--blue-highlight);
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {
  color: var(--full-black);
  text-decoration: none;
}

a:active {
  color: var(--blue-highlight);
  text-decoration: none;
}

a:visited {
  color: var(--blue-highlight);
  text-decoration: none;
}

.wrap {
  display: block;
  position: relative;
  -webkit-box-shadow: 0 0 70px var(--full-white);
  -moz-box-shadow: 0 0 70px var(--full-white);
  box-shadow: 0 0 70px var(--full-white);
  margin-left: auto;
  margin-right: auto;
  top: 0;
}

.decor {
  background: var(--decor-banner-green);
  background: -webkit-linear-gradient(left, var(--grey-bg) 50%, var(--blue-highlight) 50%);
  background: -moz-linear-gradient(left, var(--grey-bg) 50%, var(--blue-highlight) 50%);
  background: -o-linear-gradient(left, var(--grey-bg) 50%, var(--blue-highlight) 50%);
  background: linear-gradient(to left, var(--grey-bg) 50%, var(--blue-highlight) 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block;
  z-index: 200;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
  padding-left: 10px;
}

.right_side {
  float: right;
  z-index: 300;
}

li {
  float: left;
}

/* clear'n floats */
ul::after {
  clear: both;
}

ul::before,
ul::after {
  content: " ";
  display: table;
}

nav {
  position: relative;
  background: var(--grey-bg);
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px var(--nav-text-shadow);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  z-index: 10;
  padding-bottom: 2px;
}

.nav_text {
  display: block;
  padding-top: 23px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  color: var(--blue-highlight);
  text-transform: uppercase;
}

ul.primary li a.invert_a {
  color: var(--full-white);
}

ul.primary li a.invert_a:hover {
  color: var(--blue-highlight);
  transition: all 0.25s ease-in;
}

/* prime */
ul.primary li a {
  display: block;
  padding-top: 35px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

ul.primary li:last-child a {
  border-right: none;
}

ul.primary li a:hover {
  color: var(--full-white);
  transition: all 0.25s ease-in;
}

/* subs */
ul.sub {
  position: absolute;
  z-index: 200;
  box-shadow: 2px 2px 0 var(--grey-highlight);
  width: 35%;
  display: none;
}

ul.sub li {
  float: none;
  margin: 0;
}

ul.sub li a {
  border-bottom: 1px dotted var(--creamy-white);
  border-right: none;
  color: var(--full-black);
  padding: 15px 0;
}

ul.sub li:last-child a {
  border-bottom: none;
}

ul.sub li a:hover {
  color: var(--full-white);
  background: var(--light-white);
}

/* sub display */
ul.primary li:hover ul {
  display: block;
}

/* keeps the tab background white */
ul.primary li:hover a {
  color: var(--full-white);
  text-shadow: none;
}

ul.primary li:hover > a {
  color: var(--full-white);
}

/* Collapse */

input[type='checkbox'] {
  display: none;
}

.wrap-collabsible {
  padding-top: 0;
}

.lbl-toggle {
  display: block;
  text-transform: uppercase;
  text-align: left;
  color: var(--blue-highlight);
  background: transparent;
  cursor: pointer;
  transition: all 0.25s ease-out;
  font-weight: normal;
  padding-top: 10px;
}

.lbl-toggle:hover {
  color: var(--full-white);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}

.toggle::checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0;
  overflow: scroll;
  height: calc(100% - 250px);
  transition: max-height 0.25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100%;
}

.toggle::checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: transparent;
  color: var(--blue-highlight);
  padding-right: 10px;
  padding-left: 10px;
  overflow: scroll;
}

.collapsible-content p {
  margin-bottom: 30px;
}

/* message tabs */

.tabinator {
  background: transparent;
}

.tabinator input {
  display: none;
}

.tabinator label {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  width: 90px;
  text-align: center;
  color: var(--egg-white);
  margin-bottom: -1px;
  margin-left: -1px;
  border: 1px solid var(--grey-highlight);
}

.tabinator label::before {
  content: '';
  display: block;
  width: 100%;
  height: 15px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.tabinator label:hover {
  color: var(--grey-bg);
  cursor: pointer;
}

.tabinator input:checked + label {
  position: relative;
  color: var(--full-black);
  background: transparent;
  border: 1px solid var(--grey-highlight);
  border-bottom: 1px solid var(--full-white);
}

.tabinator input::checked + label::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 15px var(--tabs-grey-shadow);
}

[id^="message"] {
  display: none;
  border-top: 1px solid var(--grey-highlight);
}

.checked {
  display: block;
  box-shadow: 0 0 15px var(--grey-highlight);
}

.circle_red {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--full-red);
  display: inline-block;
}

.circle_orange {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--full-orange);
  display: inline-block;
}

.circle_yellow {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--full-yellow);
  display: inline-block;
}

.circle_green {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--full-green);
  display: inline-block;
}

img.banner_img {
  max-width: 70px;
  max-height: 70px;
}

li.img_box {
  width: 100px;
  height: 82px;
  display: block;
  padding-top: 5px;
  padding-bottom: 0;
  border-right: 1px solid var(--grey-bg);
  text-align: center;
  color: var(--grey-bg);
  text-shadow: none;
}

li.img_box svg {
  max-width: 85%;
  max-height: 80px;
  letter-spacing: 0;
}

canvas {
  max-height: 400px !important;
  max-width: 1000px !important;
}

.canvas_wrapper {
  position: relative;
  width: 1000px;
  float: left;
}

.chart-container {
  width: 50%;
}

/* div.canvas_wrapper div.chart-container {
  max-width: 500px !important;
} */

/* modal window stuff */

#set_modal.jBox-wrapper .jBox-title {
  background-color: var(--egg-white);
  color: var(--blue-highlight);
  font-family: var(--site-fonts);
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

#set_modal.jBox-wrapper .jBox-content {
  background-color: var(--grey-bg);
  font-family: var(--site-fonts);
}

#airplane .jBox-content {
  font-family: var(--mono-fonts) !important;
  text-transform: uppercase;
}

#airplane.jBox-Tooltip.jBox-wrapper .jBox-content {
  border-radius: 0 0 15px 15px;
  -moz-border-radius: 0 0 15px 15px;
}

.jBox-wrapper {
  border-radius: 15px;
  border: 2px solid var(--datablock-border);
  padding: 5px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: var(--grey-bg);
  box-shadow: 0 0 3px var(--jbox-shadow);
}

.jBox-Modal {
  max-height: 80%;
}

.jBox-wrapper.jBox-Tooltip,
.jBox-wrapper.jBox-Mouse {
  max-width: 250px;
}

.jBox-container {
  background-color: var(--grey-bg);
  border-radius: 0;
  box-shadow: 0 0 0 var(--transparent) !important;
}

.jBox-Mouse.jBox-wrapper .jBox-content,
.jBox-Tooltip.jBox-wrapper .jBox-content {
  background-color: var(--grey-bg);
  color: var(--blue-highlight);
  font-size: 12px;
  font-weight: bold;
  font-family: var(--site-fonts);
  box-shadow: none;
}

.jBox-wrapper .jBox-title {
  background-color: var(--egg-white);
  color: var(--blue-highlight);
  font-family: var(--site-fonts);
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  text-transform: uppercase;
  padding: 0;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  #logo_image {
    display: none;
  }

  ul.primary li a {
    padding-top: 23px;
  }

  nav {
    letter-spacing: 1px;
  }

  .right_side {
    float: left;
  }

  #planes {
    max-height: calc(100vh - 130px) !important;
  }

  #mapid {
    height: calc(100vh - 130px) !important;
    max-height: calc(100vh - 130px) !important;
  }
}

@media only screen and (max-width: 950px) {
  .decor {
    padding: 3px;
  }

  .wrap {
    width: 100%;
    margin-top: 0;
    font-size: 10px;
  }

  li {
    float: none;
  }

  ul.primary li a {
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    padding-right: 2.5px;
    padding-left: 2.5px;
  }

  /* ul.primary li:hover a {
    background: none;
    color: hsl(0, 0%, 55%);
    text-shadow: 1px 1px #000;
  }

  ul.primary li:hover ul {
    display: block;
    background: #272727;
    color: var(--full-white);
  }

  ul.sub {
    display: block;
    position: static;
    box-shadow: none;
    width: 100%;
  }

  ul.sub li a {
    background: #272727;
    border: none;
    color: #8B8B8B;
  } */

  ul.sub li a:hover {
    color: var(--egg-white);
    background: none;
  }

  #discord_badge,
  #github_link,
  #release_version,
  .dont_show,
  .show_when_big {
    display: none;
  }

  #msg_body {
    column-span: all;
  }

  .show_when_small {
    display: inline-block;
  }

  #planes {
    max-height: calc(100vh - 170px) !important;
  }

  #mapid {
    height: calc(100vh - 170px) !important;
    max-height: calc(100vh - 170px) !important;
  }
}

@media only screen and (min-width: 951px) {
  .show_when_small {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  #mapid {
    width: 100%;
    max-width: 100% !important;
  }

  #planes {
    display: none !important;
  }
}

#msg_body {
  column-span: inherit;
}

.show_strong {
  font-weight: bold;
  font-family: var(--mono-fonts);
}

#mapid {
  height: calc(100vh - 160px);
  max-height: calc(100vh - 160px);
  width: 100%;
  background-color: var(--full-black);
  float: left;
  max-width: calc(100vw - 435px);
  flex: 1 1 auto;
  position: relative;
}

.airplane_blue:hover,
.airplane_green:hover,
.airplane_red:hover,
.airplane_darkgreen:hover {
  fill: var(--full-orange);
  paint-order: stroke;
}

.airplane_green {
  fill: var(--full-green);
  stroke: var(--full-black);
  paint-order: stroke;
}

.airplane_blue {
  fill: var(--blue-highlight);
  stroke: var(--full-black);
  paint-order: stroke;
}

.airplane_orange {
  fill: var(--full-orange);
  stroke: var(--full-black);
  paint-order: stroke;
}

.airplane_red {
  fill: var(--full-red);
  stroke: var(--full-black);
  paint-order: stroke;
}

.airplane_darkgreen {
  fill: var(--full-darkgreen);
  stroke: var(--full-black);
  paint-order: stroke;
}

svg {
  position: relative;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

div#stat_images {
  max-width: 1000px;
}

div#planes {
  width: 340px;
  max-height: calc(100vh - 160px);
  overflow: scroll;
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  left: 5px !important;
}

div.plane_list_no_hover,
div.plane_list {
  display: inline-block;
  width: 100%;
  border-top: 1px solid var(--full-black);
  border-bottom: 1px solid var(--full-black);
  color: var(--full-white);
  background-color: var(--blue-highlight);
  font-weight: bold;
}

div.plane_list:hover {
  background-color: var(--full-black);
  color: var(--blue-highlight);
}

div.plane_element {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  border-left: 2px solid var(--full-black);
}

.plane_header a {
  color: var(--blue-highlight) !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.noleft {
  border-left: 0 solid var(--transparent) !important;
}

.sidebar_hovered_from_map_acars {
  background-color: var(--full-black) !important;
  color: var(--full-green) !important;
}

.sidebar_hovered_from_map_no_acars {
  background-color: var(--full-black) !important;
  color: var(--blue-highlight) !important;
}

.sidebar_no_hover_with_acars {
  background-color: var(--full-green) !important;
  color: var(--full-white) !important;
  font-weight: bold !important;
}

.sidebar_no_hover_with_unread {
  background-color: var(--full-darkgreen) !important;
  color: var(--full-white) !important;
  font-weight: bold !important;
}

.sidebar_no_hover_with_unread:hover,
.sidebar_no_hover_with_unread:focus,
.sidebar_no_hover_with_unread:hover a,
.sidebar_no_hover_with_unread:focus a,
.sidebar_hovered_from_map_with_unread,
.sidebar_hovered_from_map_with_unread a {
  background-color: var(--full-black) !important;
  color: var(--full-darkgreen) !important;
  font-weight: bold !important;
}

.sidebar_no_hover_with_acars:hover,
.sidebar_no_hover_with_acars:focus,
.sidebar_no_hover_with_acars:hover a,
.sidebar_no_hover_with_acars:focus a {
  background-color: var(--full-black) !important;
  color: var(--full-green) !important;
}

.sidebar_alert_hovered_from_map,
.sidebar_alert_hovered_from_map a,
.sidebar_alert:hover,
.sidebar_alert:focus,
.sidebar_alert:hover a,
.sidebar_alert:focus a {
  background-color: var(--full-black) !important;
  color: var(--full-red) !important;
}

.sidebar_hovered_from_map_acars .plane_element a {
  color: var(--full-green) !important;
}

.sidebar_alert {
  background-color: var(--full-red) !important;
}

.plane_element a {
  color: var(--full-white);
}

.airplane_datablock {
  background: var(--datablock-bg);
  color: var(--full-black);
  font-weight: bold;
  text-transform: uppercase;
  max-width: 80px;
  max-height: 80px;
  width: max-content;
  padding: 4px;
  border-radius: 15px;
  border: 2px solid var(--datablock-border);
  -moz-border-radius: 15px;
  font-family: var(--mono-fonts);
}
