@use "../modules/colors" as colors;
@use "../modules/fonts" as fonts;

// Map container
#mapid {
  height: 100%;
  max-height: 100%;
  width: 100%;
  background-color: var(--bg-mapbackground);
  flex: 1 1 auto;
  position: relative;

  @media only screen and (max-width: 700px) {
    width: 100%;
    max-width: 100% !important;
  }
}

// Airplane icons and markers
.airplane_blue,
.airplane_green,
.airplane_red,
.airplane_darkgreen,
.airplane_brown,
.airplane_orange {
  stroke: var(--airplane-stroke);
  paint-order: stroke;

  @media not all and (pointer: coarse) {
    &:hover {
      fill: var(--color-orange);
      paint-order: stroke;
    }
  }
}

.airplane_brown {
  fill: var(--color-brown);
}

.airplane_green {
  fill: var(--color-green);
}

.airplane_blue {
  fill: var(--color-blue);
}

.airplane_orange {
  fill: var(--color-orange);
}

.airplane_red {
  fill: var(--color-red);
}

.airplane_darkgreen {
  fill: var(--color-darkgreen);
}

.airplane_datablock {
  background: var(--bg-datablock);
  color: var(--color-black);
  font-weight: bold;
  text-transform: uppercase;
  max-width: 120px;
  max-height: 120px;
  width: max-content;
  padding: 4px;
  border-radius: 15px;
  border: 2px solid var(--border-datablock);
  -moz-border-radius: 15px;
  font-family: fonts.$mono-fonts;
}

.rotate-icon {
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
}

// Plane list sidebar
div#planes {
  width: 340px;
  max-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  @media only screen and (max-width: 700px) {
    display: none !important;
  }
}

div.plane_list_no_hover,
div.plane_list {
  display: inline-block;
  width: 100%;
  border-top: 1px solid var(--border-black);
  border-bottom: 1px solid var(--border-black);
  color: var(--modal-title-text);
  background-color: var(--color-blue);
  font-weight: bold;
}

div.plane_list {
  &:hover {
    background-color: var(--bg-datablock);
    color: var(--color-blue);
  }
}

div.plane_element {
  display: inline-block;
  position: relative;
  padding-left: 5px;
  border-left: 2px solid var(--border-black);

  a {
    color: var(--modal-title-text);
  }
}

.plane_header a {
  color: var(--color-blue) !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

// Plane list column widths
.plane-element-width-callsign {
  width: 23%;
}

.plane-element-width-alt {
  width: 25%;
}

.plane-element-width-speed {
  width: 11%;
}

.plane-element-width-alert {
  width: 18%;
}

.plane-element-width-msgs {
  width: 18%;
}

// Plane list headers
.plane-header-title {
  font-weight: bold;
  border-bottom: 1px solid var(--border-black);
  color: var(--color-blue) !important;
  background-color: var(--bg-grey) !important;

  .plane_element,
  .plane_header {
    color: var(--color-blue) !important;
  }

  a {
    color: var(--color-blue) !important;
  }
}

.plane-stats-header {
  color: var(--color-blue) !important;
  background-color: var(--bg-grey) !important;

  .plane_element {
    color: var(--color-blue) !important;
  }
}

// Sidebar state classes
.sidebar_hovered_from_map_acars {
  background-color: var(--bg-datablock) !important;
  color: var(--color-green) !important;

  .plane_element a {
    color: var(--color-green) !important;
  }
}

.sidebar_hovered_from_map_no_acars {
  background-color: var(--bg-datablock) !important;
  color: var(--color-blue) !important;
}

.sidebar_no_hover_with_acars {
  background-color: var(--color-green) !important;
  color: var(--modal-title-text) !important;
  font-weight: bold !important;

  @media not all and (pointer: coarse) {
    &:hover,
    &:focus,
    &:hover a,
    &:focus a {
      background-color: var(--bg-datablock) !important;
      color: var(--color-green) !important;
    }
  }
}

.sidebar_no_hover_with_unread {
  background-color: var(--color-darkgreen) !important;
  color: var(--modal-title-text) !important;
  font-weight: bold !important;

  @media not all and (pointer: coarse) {
    &:hover,
    &:focus,
    &:hover a,
    &:focus a {
      background-color: var(--bg-datablock) !important;
      color: var(--color-darkgreen) !important;
      font-weight: bold !important;
    }
  }
}

.sidebar_hovered_from_map_with_unread,
.sidebar_hovered_from_map_with_unread a {
  background-color: var(--bg-datablock) !important;
  color: var(--color-darkgreen) !important;
  font-weight: bold !important;
}

.sidebar_alert_unread {
  background-color: var(--color-red) !important;

  @media not all and (pointer: coarse) {
    &:hover,
    &:focus,
    &:hover a,
    &:focus a {
      background-color: var(--bg-datablock) !important;
      color: var(--color-red) !important;
    }
  }
}

.sidebar_alert_unread_hovered_from_map,
.sidebar_alert_unread_hovered_from_map a {
  background-color: var(--bg-datablock) !important;
  color: var(--color-red) !important;
}

.sidebar_alert_read {
  background-color: var(--color-brown) !important;

  @media not all and (pointer: coarse) {
    &:hover,
    &:focus,
    &:hover a,
    &:focus a {
      background-color: var(--bg-datablock) !important;
      color: var(--color-brown) !important;
    }
  }
}

.sidebar_alert_read_hovered_from_map,
.sidebar_alert_read_hovered_from_map a {
  background-color: var(--bg-datablock) !important;
  color: var(--color-brown) !important;
}
