@use "../modules/colors" as colors;
@use "../modules/fonts" as fonts;
@use "../modules/theme";

// Message containers
.acarshub-message-group {
  margin: auto;

  @media only screen and (max-width: 700px) {
    margin: 0;
  }
}

.acars_message_container {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

// Message tabs
.tabinator {
  background: transparent;

  input {
    display: none;

    &:checked + label {
      position: relative;
      background-color: var(--color-white);
      border: 1px solid var(--border-black);
      font-weight: bold;
      font-style: normal;
      background-color: var(--message-bg);
      border-color: var(--grey-highlight);

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: none;
      }
    }
  }

  label {
    background-color: var(--color-white);
    box-sizing: border-box;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    width: 90px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -1px;
    margin-left: -1px;
    font-weight: bold;
    border: 1px solid var(--border-black);
    background-color: var(--grey-bg);
    border-color: var(--grey-highlight);

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
    }

    &::after {
      box-shadow: none;
    }
  }
}

// Message display
[id^="message"] {
  display: flex;
  flex-wrap: wrap;
  border-top: 0px solid var(--grey-highlight);
  border: 1px solid var(--border-black);
  border-collapse: collapse;
  width: 100%;
  background-color: var(--message-bg);
  border-color: var(--grey-highlight);

  &:last-child {
    span {
      padding-right: 0.25rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  td:first-child {
    padding-left: 0;
  }

  .msg_line:last-child {
    padding-top: 0;
  }
}

.msg_line {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0.5rem;
  width: 100%;

  > span {
    white-space: nowrap;
  }

  .left_item {
    flex-grow: 1;
  }
}

.checked {
  display: flex;
}

// Signal level indicators
.circle_red {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--color-red);
  display: inline-block;
}

.circle_orange {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--color-orange);
  display: inline-block;
}

.circle_yellow {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--color-yellow);
  display: inline-block;
}

.circle_green {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: var(--color-green);
  display: inline-block;
}

// Message body
#msg_body {
  column-span: inherit;
}

// Message text container (replaces table layout)
.message-container {
  display: flex;
  flex-wrap: wrap;
  border: none;
  width: 100%;
  background-color: var(--message-bg);
}

.text_top {
  flex: 1;
  min-width: 0;
  padding: 7px;
  background-color: var(--message-bg);
  vertical-align: top;

  &:first-child {
    padding-left: 0;
  }

  &.dont_show {
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }
}
