@use "../modules/colors" as colors;
@use "../modules/fonts" as fonts;

// Message containers
.acarshub-message-group {
  margin: auto;

  @media only screen and (max-width: 700px) {
    margin: 0;
  }
}

.acars_message_container {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

// Message tabs
.tabinator {
  background: transparent;

  input {
    display: none;

    &:checked + label {
      position: relative;
      background-color: colors.$full-white;
      border: 1px solid colors.$full-black;
      font-weight: bold;
      font-style: normal;

      @media (prefers-color-scheme: dark) {
        background-color: colors.$grey-bg;
        border-color: colors.$grey-highlight;
      }

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: none;
      }
    }
  }

  label {
    background-color: colors.$full-white;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 10px;
    padding-left: 10px;
    width: 90px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: -1px;
    margin-left: -1px;
    font-weight: bold;
    border: 1px solid colors.$full-black;

    @media (prefers-color-scheme: dark) {
      background-color: colors.$grey-bg;
      border-color: colors.$grey-highlight;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
    }

    &::after {
      box-shadow: none;
    }
  }
}

// Message display
[id^="message"] {
  display: flex;
  flex-wrap: wrap;
  border-top: 0px solid colors.$grey-highlight;
  border: 1px solid colors.$full-black;
  border-collapse: collapse;
  width: 100%;
  background-color: colors.$full-white;

  @media (prefers-color-scheme: dark) {
    border-color: colors.$grey-highlight;
    background-color: colors.$grey-bg;
  }

  &:last-child {
    span {
      padding-right: 0.25rem;

      &:first-child {
        padding-left: 0;
      }
    }
  }

  td:first-child {
    padding-left: 0;
  }

  .msg_line:last-child {
    padding-top: 0;
  }
}

.msg_line {
  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 0.5rem;
  width: 100%;

  > span {
    white-space: nowrap;
  }

  .left_item {
    flex-grow: 1;
  }
}

.checked {
  display: flex;
}

// Signal level indicators
.circle_red {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: colors.$full-red;
  display: inline-block;
}

.circle_orange {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: colors.$full-orange;
  display: inline-block;
}

.circle_yellow {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: colors.$full-yellow;
  display: inline-block;
}

.circle_green {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid;
  background-color: colors.$full-green;
  display: inline-block;
}

// Message body
#msg_body {
  column-span: inherit;
}
