@use "../modules/colors" as colors;
@use "../modules/theme";

// Search-specific styles
#search_results {
  width: calc(100vw - 440px);
  max-height: 100%;
  margin-left: 5px;
  overflow: auto;
  float: left;

  @media only screen and (max-width: 969px) {
    width: calc(100vw - 295px) !important;
  }

  @media only screen and (max-width: 700px) {
    width: 100% !important;
  }
}

#side_pane {
  width: 340px;
  max-height: 100%;
  overflow: auto;
  float: left;
  font-weight: bold;
  border: 1px solid var(--grey-highlight);
  margin-top: 12px;

  @media only screen and (max-width: 969px) {
    width: 200px !important;
  }

  @media only screen and (max-width: 700px) {
    width: 100% !important;
  }
}

// Search form grid layout
.search-form,
.search-results-info {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  border-top: 1px solid var(--grey-highlight);
  border-collapse: collapse;
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;

  &:first-child {
    border-top: none;
  }
}

.search-row {
  display: contents;
}

.search_label {
  padding: 7px;
  padding-left: 5px;
  vertical-align: middle;
  color: var(--body-text);
  background-color: var(--message-bg);
}

.search_term {
  padding: 7px 20px 7px 15px;
  background-color: var(--message-bg);
}

.search-info-row {
  grid-column: 1 / -1;
  padding: 7px;
  padding-left: 5px;
  background-color: var(--message-bg);
  color: var(--color-black);
}

.search-pagination {
  grid-column: 1 / -1;
  padding: 7px;
  padding-left: 5px;
  background-color: var(--message-bg);
  color: var(--color-black);
}

#size,
#database {
  color: var(--color-black);
}

#log {
  margin-right: 5px;
}
