@use "../modules/colors" as colors;

// Search-specific styles
#search_results {
  width: calc(100vw - 440px);
  max-height: 100%;
  margin-left: 5px;
  overflow: auto;
  float: left;

  @media only screen and (max-width: 969px) {
    width: calc(100vw - 295px) !important;
  }

  @media only screen and (max-width: 700px) {
    width: 100% !important;
  }
}

#side_pane {
  width: 340px;
  max-height: 100%;
  overflow: auto;
  float: left;

  @media only screen and (max-width: 969px) {
    width: 200px !important;
  }

  @media only screen and (max-width: 700px) {
    width: 100% !important;
  }
}

// Search form grid layout
.search-form,
.search-results-info {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  border: 1px solid colors.$full-black;
  border-collapse: collapse;
  background-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.search-row {
  display: contents;
}

.search_label {
  padding: 7px;
  padding-left: 5px;
  vertical-align: middle;
  color: colors.$blue-highlight;
  background-color: colors.$full-white;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$grey-bg;
  }
}

.search_term {
  padding: 7px 20px 7px 15px;
  background-color: colors.$full-white;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$grey-bg;
  }
}

.search-info-row {
  grid-column: 1 / -1;
  padding: 7px;
  padding-left: 5px;
  background-color: colors.$full-white;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$grey-bg;
  }
}

.search-pagination {
  grid-column: 1 / -1;
  padding: 7px;
  padding-left: 5px;
  background-color: colors.$full-white;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$grey-bg;
  }
}

#size,
#database {
  color: colors.$blue-highlight;
}

#log {
  margin-right: 5px;
}
