@use "../modules/colors" as colors;

// Statistics charts
.chart-container {
  position: relative;
  width: 100%;
  max-width: 1000px !important;
  height: 300px;
  margin: 5px;
  border-width: 2px;
  border-color: colors.$stat-border;
  border-style: groove;
}

#chart_msg_good,
#chart_msg_empty {
  height: 150px !important;
}

// Statistics images
div#stat_images {
  max-width: 1000px;

  > div {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
