.leaflet-radar {
  border-radius: 5px;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  color: black;
  padding: 5px;
  height: 48px;

  .leaflet-radar-timestamp {
    text-align: center;
  }
}

.leaflet-radar-toggle {
  display: flex;
  align-items: left;

  input {
    display: inherit !important;
    min-width: 10px;
    width: 18px;
  }

  span {
    box-sizing: none;
  }
}
