django==5.2.4
Flask==3.1.1
Flask-SocketIO==5.5.1
gevent==25.9.1
gunicorn[gevent]==23.0.0
prometheus-client==0.23.1
requests==2.32.4
rrdtool @git+https://github.com/fredclausen/python-rrdtool.git
schedule==1.2.2
sqlalchemy==2.0.42
