name: Deploy

on:
  # Build and deploy the image on pushes to main branch
  workflow_dispatch:
    inputs:
      reason:
        required: true
        description: "Reason for running this workflow"
      use_test_image:
        required: false
        type: boolean
        description: "Use base image testpr"
        default: false
      build_latest_as_test:
        required: false
        type: boolean
        description: "Build latest as test"
        default: false

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  workflow-dispatch:
    name: Triggered via Workflow Dispatch?
    # only run this step if workflow dispatch triggered
    # log the reason the workflow dispatch was triggered
    if: |
      github.event_name == 'workflow_dispatch' &&
      github.event.inputs.reason != ''
    runs-on: ubuntu-24.04
    steps:
      - name: Log dispatch reason
        env:
          INPUTS_REASON: ${{ github.event.inputs.reason }}
          INPUTS_USE_TEST_IMAGE: ${{ github.event.inputs.use_test_image }}
          INPUTS_BUILD_LATEST_AS_TEST: ${{ github.event.inputs.build_latest_as_test }}
        run: |
          echo "Workflow dispatch reason: $INPUTS_REASON"
          echo "Use test image: $INPUTS_USE_TEST_IMAGE"
          echo "Build latest as test: $INPUTS_BUILD_LATEST_AS_TEST"

  get_version:
    name: "Get version and build number"
    runs-on: ubuntu-24.04
    outputs:
      version: ${{ steps.get_version.outputs.version }}
      build_number: ${{ steps.get_version.outputs.build_number }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Get version and build number
        id: get_version
        run: |
          # Get version from package.json
          VERSION=$(grep -oP '(?<="version": ")[^"]*' acarshub-react/package.json)
          # Get build number from GitHub run
          BUILD_NUMBER=$GITHUB_RUN_NUMBER
          echo "ACARS Hub: v${VERSION} Build ${BUILD_NUMBER}"
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "build_number=$BUILD_NUMBER" >> $GITHUB_OUTPUT

  deploy:
    name: Deploy
    if: |
      github.event.inputs.build_latest_as_test == 'false' ||
      github.event.inputs.build_latest_as_test == ''
    needs: get_version
    uses: sdr-enthusiasts/common-github-workflows/.github/workflows/sdre.yml@main
    with:
      push_enabled: true
      push_destinations: ghcr.io
      ghcr_repo_owner: ${{ github.repository_owner }}
      ghcr_repo: ${{ github.repository }}
      build_latest: true
      build_baseimage_test: false
      platform_linux_arm32v7_enabled: false
      build_baseimage_url: :base/:base-test-pr
      dockerfile_changes: |
        ARG VERSION=0\.0\.0/ARG VERSION=${{ needs.get_version.outputs.version }}/g;s/ARG BUILD_NUMBER=0/ARG BUILD_NUMBER=${{ needs.get_version.outputs.build_number }}
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}

  deploy_test:
    name: Deploy as test
    if: |
      github.event.inputs.build_latest_as_test == 'true' &&
      (github.event.inputs.use_test_image == 'false' || github.event.inputs.use_test_image == '')
    uses: sdr-enthusiasts/common-github-workflows/.github/workflows/sdre.yml@main
    needs: get_version
    with:
      push_enabled: true
      push_destinations: ghcr.io
      ghcr_repo_owner: ${{ github.repository_owner }}
      ghcr_repo: ${{ github.repository }}
      build_latest: true
      build_baseimage_test: false
      build_baseimage_url: :base/:base-test-pr
      platform_linux_arm32v7_enabled: false
      docker_latest_tag: test
      dockerfile_changes: |
        ARG VERSION=0\.0\.0/ARG VERSION=${{ needs.get_version.outputs.version }}/g;s/ARG BUILD_NUMBER=0/ARG BUILD_NUMBER=${{ needs.get_version.outputs.build_number }}
    secrets:
      ghcr_token: ${{ secrets.GITHUB_TOKEN }}

  # generate a release
  release:
    name: Release
    needs: [deploy, get_version]
    runs-on: ubuntu-24.04
    if: |
      (github.event.inputs.use_test_image == 'false' ||
      github.event.inputs.use_test_image == '' ) &&
      (github.event.inputs.build_latest_as_test == 'false' ||
      github.event.inputs.build_latest_as_test == '' )

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Create Release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag: ${{ needs.patch_acars_hub_version.outputs.version }}Build${{ needs.patch_acars_hub_version.outputs.build_number }}
          name: ${{ needs.patch_acars_hub_version.outputs.version }} Build ${{ needs.patch_acars_hub_version.outputs.build_number }}
          draft: false
          prerelease: false
